<section class="section-intro section-sports-hub">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="intro-content text-center">
					{# <hr style="width: 75%; margin: 20px auto;"> #}
					<h1 class="white">Sport United</h1>
					<p class="subtitle">Hub of Excellence in Sport Science &amp; Management</p>
					<p data-aos="fade-right" data-aos-delay="500" class="white lead mb-5">Bridging athletic performance, business strategy, and sports science to prepare the next generation of leaders in a global, data‑driven sports industry.</p>
					{{ buttons.button('Explore the Hub', '#universities', 'main-alt mb-5') }}
					{{ buttons.button('Programs & Degrees', '#', 'secondary mb-5') }}
				</div>
			</div>
		</div>
	</div>
</section>