<header class="apus" id="apus-header">

    <div class="apus-header-bar">
        <div class="container-fluid apus-header-stage">
            <div class="apus-brand">

                <a href="https://www.apus.edu/" class="apus-logo">

                    <img src="https://www.apus.edu/images/apus/logos/apus-logo-full-blue2c132ac4d0d64e1180534f27f150a2f9.svg" alt="American Public University System - AMU - APU" loading="lazy" />

                </a>
            </div>
            <button title="Open Menu" class="apus-menu-btn" aria-controls="apus-main-menu" type="submit"><span>Open Menu</span></button>
        </div>
    </div>
    <div id="apus-main-menu">
        <div class="apus-menu-top">
            <div class="container-fluid">
                <nav aria-label="Utilities">
                    <ul id="apus-nav-utilities" class="apus-nav">
                        <li class="d-none d-xl-block">
                            <a href="tel:"></a>
                        </li>

                            <li>
                                <div class="apus-site-search">
                                    <form action="/search" method="get">
                                        <div class="apus-search-group">
                                            <label for="apus-site-search-input">Search</label>
                                            <div class="apus-input-group">
                                                <input id="apus-site-search-input" type="text" name="addsearch" placeholder="Search the Site" />
                                                <input class="apus-site-search-submit" type="submit" value="Submit Search" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <li>
                                <a class="apus-login" aria-label="Campus Login" href="https://login.apus.edu/padsts/login">Campus Login</a>
                            </li>
                    </ul>
                </nav>
            </div>
        </div>
            <div class="apus-menu-bar">
                <div class="container-fluid">
                    <nav aria-label="Main">
                        <div class="apus-menu-bar-stage">

                            <div class="menu-place-holder">

    <ul class="apus-nav" id="apus-nav-main">
        <li>
                        <a aria-label="About" class="apus-top-link" href="https://www.apus.edu/about/leadership/executive-leadership-senior-management/" data-id="apus-nav-main" role="button" aria-controls="apus-main-mega-menu-panel-0" aria-expanded="false">About</a>

                <div class="apus-menu-panel" id="apus-main-mega-menu-panel-0" style="display: none;">
                    <ul>
                                    <li>
                                        <a aria-label="Accreditation" href="https://www.apus.edu/about/accreditation/" data-id="apus-nav-main">Accreditation</a>
                                    </li>
                                    <li>
                                        <a aria-label="Mission &amp; Vision" href="https://www.apus.edu/about/mission/" data-id="apus-nav-main">Mission &amp; Vision</a>
                                    </li>
                                    <li>
                                        <a aria-label="History" href="https://www.apus.edu/about/history/" data-id="apus-nav-main">History</a>
                                    </li>
                                    <li>
                                        <a aria-label="Fast Facts" href="https://www.apus.edu/about/fast-facts/" data-id="apus-nav-main">Fast Facts</a>
                                    </li>
                                    <li>
                                        <a aria-label="Leadership" href="https://www.apus.edu/about/leadership/executive-leadership-senior-management/" data-id="apus-nav-main">Leadership</a>
                                    </li>
                                    <li>
                                        <a aria-label="Board of Trustees" href="https://www.apus.edu/about/leadership/board-of-trustees/" data-id="apus-nav-main">Board of Trustees</a>
                                    </li>
                                    <li>
                                        <a aria-label="Employer Relations" href="https://www.apus.edu/about/employers/" data-id="apus-nav-main">Employer Relations</a>
                                    </li>
                                    <li>
                                        <a aria-label="Government Relations" href="https://www.apus.edu/about/government-relations/" data-id="apus-nav-main">Government Relations</a>
                                    </li>
                                    <li>
                                        <a aria-label="Newsroom" href="https://www.apus.edu/newsroom/" data-id="apus-nav-main">Newsroom</a>
                                    </li>
                                    <li>
                                        <a aria-label="Career Opportunities" href="https://www.apus.edu/about/careers/" data-id="apus-nav-main">Career Opportunities</a>
                                    </li>
                                    <li>
                                        <a aria-label="Consumer Information" href="https://www.apus.edu/about/consumer-information/" data-id="apus-nav-main">Consumer Information</a>
                                    </li>
                                    <li>
                                        <a aria-label="Contact Us" href="https://www.apus.edu/about/contact/" data-id="apus-nav-main">Contact Us</a>
                                    </li>
                    </ul>
                </div>
        </li>
        <li>
                        <a aria-label="Academic Community" class="apus-top-link" href="https://www.apus.edu/academic-community/" data-id="apus-nav-main" role="button" aria-controls="apus-main-mega-menu-panel-0" aria-expanded="false">Academic Community</a>

            <div class="apus-menu-panel" id="apus-main-mega-menu-panel-0" style="display: none;">
                <ul>
                    <li>
                        <a aria-label="Catalog (Undergrad/Grad)" href="https://catalog.apus.edu/index.html" target="_blank" rel="noreferrer noopener" data-id="apus-nav-main">Catalog (Undergrad/Grad)</a>
                    </li>
                    <li>
                        <a aria-label="Journals" href="https://www.apus.edu/academic-community/journals/" data-id="apus-nav-main">Journals</a>
                    </li>
                    <li>
                        <a aria-label="Library" href="https://www.apus.edu/academic-community/library/" data-id="apus-nav-main">Library</a>
                    </li>
                    <li>
                        <a aria-label="Observatory" href="https://www.apus.edu/academic-community/university-observatory/" data-id="apus-nav-main">Observatory</a>
                    </li>
                    <li>
                        <a aria-label="Center for Cyber Defense" href="https://www.apus.edu/academic-community/cyber-defense/" data-id="apus-nav-main">Center for Cyber Defense</a>
                    </li>
                    <li>
                        <a aria-label="Center for Space Studies" href="https://www.apus.edu/academic-community/space-studies/" data-id="apus-nav-main">Center for Space Studies</a>
                    </li>
                    <li>
                        <a aria-label="Center for Teaching &amp; Learning" href="https://www.apus.edu/ctl/" data-id="apus-nav-main">Center for Teaching &amp; Learning</a>
                    </li>
                    <li>
                        <a aria-label="IntelHub" href="https://www.apus.edu/academic-community/intelhub/" data-id="apus-nav-main">IntelHub</a>
                    </li>
                    <li>
                        <a aria-label="Learning Outcomes Assessment" href="https://www.apus.edu/academic-community/learning-outcomes-assessment/" data-id="apus-nav-main">Learning Outcomes Assessment</a>
                    </li>
                    <li>
                        <a aria-label="Research and Creative Inquiry" href="https://www.apus.edu/academic-community/research/" data-id="apus-nav-main">Research and Creative Inquiry</a>
                    </li>
                    <li>
                        <a aria-label="Institutional Review Board (IRB)" href="https://www.apus.edu/academic-community/research/institutional-review-board/" data-id="apus-nav-main">Institutional Review Board (IRB)</a>
                    </li>
                    <li>
                        <a aria-label="Academic Experts" href="https://www.apus.edu/academic-community/" data-id="apus-nav-main">Academic Experts</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a aria-label="Partnerships" class="" href="https://www.apus.edu/partners/" data-id="apus-nav-main" role="button" aria-controls="apus-main-mega-menu-panel-0" aria-expanded="false">Partnerships</a>

        </li>
        <li>
	        <a aria-label="Blogs &amp; Social" class="" href="https://www.apus.edu/social-media-center/" data-id="apus-nav-main" role="button" aria-controls="apus-main-mega-menu-panel-0" aria-expanded="false">Blogs &amp; Social</a>

        </li>
        <li>
            <a aria-label="Military &amp; Veterans" class="apus-top-link" data-id="apus-nav-main" role="button" aria-controls="apus-main-mega-menu-panel-0" aria-expanded="false">Military &amp; Veterans</a>

            <div class="apus-menu-panel" id="apus-main-mega-menu-panel-0" style="display: none;">
                <ul>
                    <li>
                        <a aria-label="Overview" href="https://www.amu.apus.edu/military/" target="_blank" rel="noreferrer noopener" data-id="apus-nav-main">Overview</a>
                    </li>
                    <li>
                        <a aria-label="Active Duty Servicemembers" href="https://www.amu.apus.edu/military/active-duty/" target="_blank" rel="noreferrer noopener" data-id="apus-nav-main">Active Duty Servicemembers</a>
                    </li>
                    <li>
                        <a aria-label="Veterans" href="https://www.amu.apus.edu/military/veterans/" target="_blank" rel="noreferrer noopener" data-id="apus-nav-main">Veterans</a>
                    </li>
                    <li>
                        <a aria-label="Spouses &amp; Dependents" href="https://www.amu.apus.edu/military/spouses/" target="_blank" rel="noreferrer noopener" data-id="apus-nav-main">Spouses &amp; Dependents</a>
                    </li>
                    <li>
                        <a aria-label="Credentialing Assistance" href="https://www.amu.apus.edu/military/army/" target="_blank" rel="noreferrer noopener" data-id="apus-nav-main">Credentialing Assistance</a>
                    </li>
                    <li>
                        <a aria-label="Find Your Local Military Education Manager" href="https://www.amu.apus.edu/rep/" target="_blank" rel="noreferrer noopener" data-id="apus-nav-main">Find Your Local Military Education Manager</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a aria-label="Global Digital University" class="" href="#" data-id="apus-nav-main" role="button" aria-controls="apus-main-mega-menu-panel-0" aria-expanded="false">Global Digital University</a>
        </li>
    </ul>
</div>
                        <div class="apus-nav-callouts">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
