<footer class="footer">
	<div class="container">
		<div class="footer-logo-wrap">
			<div class="footer-identity-wrap">
				<a class="sm-logo-footer" href="#" aria-label="APU homepage">
					{{ image("apus-logo-white.svg", "American Public University System Logo", "") }}
				</a>
				<hr>
				<p>APUS Universities:</p>
				<div class="footer-univ-logo-wrap">
					{{ image("apus-logo-amu-wht.svg", "American Public University Logo", "footer-univ-logo") }}
					{{ image("apu-logo-standard-white.svg", "American Military University Logo", "footer-univ-logo") }}
				</div>
				<hr>
				<div class="footer-contact-wrap">
					<p>Follow APUS:</p>
					<div class="social-footer">
						<ul class="social-links">
							<li><a href="#" role="button" aria-label="Facebook"><i class="fa-brands fa-facebook" alt="APU on Facebook"></i></a></li>
							<li><a href="#" role="button" aria-label="Twitter"><i class="fa-brands fa-x-twitter" alt="APU on Twitter"></i></a></li>
							<li><a href="#" role="button" aria-label="Instagram"><i class="fa-brands fa-instagram" alt="APU on Instagram"></i></a></li>
							<li><a href="#" role="button" aria-label="YouTube"><i class="fa-brands fa-youtube" alt="APU on YouTube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		
			<div class="footer-nav">
				<ul class="nav left">
					<li><a href="#">Academics</a></li>
					<li><a href="#">Admissions</a></li>
					<li><a href="#">Tuition &amp; Financing</a></li>
					<li><a href="#">Students &amp; Alumni</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>

			<div class="footer-nav">
				<ul class="nav left">
					<li><a href="#">News</a></li>
					<li><a href="#">Reports</a></li>
					<li><a href="#">Innovation</a></li>
					<li><a href="#">Digital Learning</a></li>
					<li><a href="#">Accreditation</a></li>
				</ul>
			</div>
			
			<div class="footer-nav">
				<ul class="nav left">
					<li><a href="#">Military &amp; Veterans</a></li>
					<li><a href="#">School Store</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Career Opportunities</a></li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row justify-content-center">
			<div class="seal-disclaimer-wrap">
				<div class="footer-seal-wrap">
					{{ image("apus-seal.webp", "American Public University System Seal", "footer-seal") }}

					<div>
						{# <div class="contact contact-email">
							<p class="mb-3"><a href="mailto:info@apus.com">info@apus.com</a></p>
						</div> #}
						<div class="contact contact-phone">
							<p class="mb-3"> <a href="tel:877-755-2787">877-755-2787</a></p>
						</div>
						<div class="contact contact-address">
							<p class="mb-4">111 W. Congress Street<br>Charles Town, WV 25414</p>
						</div>
					</div>
				</div>
				<div class="disclaimer">
					<p><a href="#" target="_blank">Do Not Sell My Personal Information (CA residents only)</a></p>
					<p>American Public University System (APUS) is accredited by the Higher Learning Commission (HLC) and is a wholly owned subsidiary of American Public Education, Inc. (APEI). Pursuant to a contractual arrangement, APEI provides certain services for the benefit of APUS, subject to APUS oversight and ultimate authority. Pursuant to a license, APEI may use APUS’s trademarks and other intellectual property in its performance of those services. American Public University System, American Public University, and American Military University are not affiliated with American University or the U.S. Military.</p>
					<p>&copy; 2025 American Public University. All Rights Reserved.</p>
				</div>
			</div>		
		</div>
	</div>
</footer>

<!-- Bootstrap JS Bundle (Popper included) -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>