<section class="gdj-content-wrap">
	<div class="section-gdj">
		<div class="gdj-image-bg">
			
		</div>
		<div class="align-items-center vertical">
			<div data-aos="fade-right" data-aos-delay="500" class="content">
				<h2 class="primary">Global Digital Journey</h2>
				<p class="subtitle">Paving the Road for the Future of Education</p>
				<p class="lead">The time has come for a holistic reevaluation of our educational approach. By prioritizing the cultivation of essential skills, embracing technology, and fostering a culture of innovation, we can embark on a global digital journey, creating a model that not only prepares students for success but also empowers them to shape an exciting future.</p>
				{{ buttons.button('Learn More About GDJ', '/contact', 'main') }}
			</div>
		</div>
		
	</div>
</section>