<section class="meet-apus-content-wrap">
	<div class="section-meet">
		<div class="align-items-center">
		<div class="horizontal">
			<div data-aos="fade-right" data-aos-delay="500" class="content">
				<h2 class="primary">Meet APUS</h2>
				<p class="subtitle">Affordable, high-quality, workforce-relevant higher education</p>
				<p class="lead">Founded in 1991 with a mission to make higher education more accessible for working adults and those who serve, APUS has grown from a pioneer to a leader in distance education. What began as American Military University, which was created to serve the unique needs of military servicemembers, has evolved into a higher education system dedicated to learners from all walks of life.</p>
				<p class="lead">APUS, which includes American Military University (AMU) and American Public University (APU), is accredited by the Higher Learning Commission (HLC), an institutional accreditation agency recognized by the U.S. Department of Education. APUS is a wholly owned subsidiary of American Public Education, Inc.</p>
				{{ buttons.button('View Our Accreditations', 'https://www.apus.edu/about/accreditation/', 'main', '_blank') }}
			</div>
			</div>
		</div>
		<div class="meet-image-bg">
			
		</div>
	</div>
</section>