<section class="section-mission">
	<div class="align-items-center horizontal">
		<div class="large-quote-wrap">
			<p class="jumbo-quote white">We seek to advance social, economic, and environmental well-being through the <span class="underline-secondary">transformative power of education.</span></p>
			<p class="author white"><span>Nuno Fernandes</span> APUS President</p>
		</div>
		
	</div>
	<div data-aos="fade-right" data-aos-delay="500" class="content white vertical">
		<h2>Mission & Vision</h2>
		<p class="subtitle">Future Focused Innovation Backed by Educational Legacy</p>
		<p class="lead">The mission of American Public University System is to provide high quality higher education with emphasis on educating the nation's military and public service communities by offering respected, relevant, accessible, affordable, and student-focused online programs that prepare students for service and leadership in a diverse, global society.</p>
		{{ buttons.button('Explore Our Values', 'https://www.apus.edu/about/mission/', 'main-alt') }}
	</div>
</section>