<section class="section-president">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 content" data-aos="fade-right" data-aos-delay="500" >
			<div class="vertical white-box">
				<h2 class="primary">Office Of The President</h2>
				<p class="subtitle">Nuno Fernandes</p>
				<p class="lead">APUS President Nuno Fernandes is a visionary leader who has been successful in making online higher education more affordable and accessible, while delivering top-quality education and favorable student outcomes. As the fifth President of APUS, he is focused on a global digital journey that integrates personalized, collaborative, technology-driven learning experiences to prepare students for tomorrow’s challenges and opportunities.</p>
				{{ buttons.button('Meet President Fernandes', 'https://www.apus.edu/about/presidents-page/', 'main') }}
			</div>
			</div>
			
			<div class="col-lg-6 nuno">
				<img src="./images/shared/redesign/apus/nuno-fernandes.png" class="img-nuno" alt="Nuno Fernandes">
			</div>
		</div>
	</div>
</section>