<section class="section-stats">
	<div class="container">
	<h2 class="text-center">APUS Global At a Glance</h2>
		<div id="counter" class="at-a-glance-wrap level">
			<div class="">
				<p class="text-center mb-0"><span class="counter-value jumbo-number" data-count="88"></span><span class="jumbo-number">k</span></p>
				<p class="number-description mb-4">Active<br>Students</p>
			</div>
			<div class="">
				<p class="text-center mb-0"><span class="counter-value jumbo-number" data-count="200"></span><span class="jumbo-number">+</span></p>
				<p class="number-description mb-4">Degrees & Certificates<br>from Associate to Doctoral</p>
			</div>
			<div class="">
				<p class="text-center mb-0"><span class="counter-value jumbo-number" data-count="160"></span><span class="jumbo-number">k</span></p>
				<p class="number-description mb-4">Proud Graduates<br>Worldwide</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<p class="disclaimer">Data current as of March 31, 2025</p>
			</div>
		</div>
	</div>
</section>