<section id="universities" class="section-repeat primary-bg">
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-lg-6 vertical">
				<h2 class="white">Our Universities</h2>
				<p class="lead white">At APUS, we believe education should meet people where they are and take them where they want to go. As an accredited university system, we're committed to providing flexible programs and personalized services that enable today's learners to navigate change with confidence and purpose.</p>
			</div>
		</div>
	</div>
</section>
<section class="section-split areas-of-study-wrap">
	<div class="area-item" data-aos="fade-up" data-aos-duration="2000">
        <div class="area-img-wrap">
            {{ image("amu-bg-img-alt.jpg", "Group of students wearing AMU-branded gear taking a group selfie", "img-area") }}
            <div class="full-gradient"></div>
        </div>
        <div class="area-content area-content-amu">
            {% include "partials/amu-logo.njk" %}
            {# <h3>American Military University</h3> #}
            <div class="hidden">
            	<p>Founded by a retired Marine officer, AMU was built to serve those who serve. With programs designed around the needs of active-duty servicemembers, veterans, and their families, AMU offers flexible, affordable online education that helps students prepare for life during and after service.</p>
            	{{ buttons.button('Visit AMU', '#', 'amu') }}
            </div>
        </div>
    </div>
    <div class="area-item" data-aos="fade-up" data-aos-duration="2000">
        <div class="area-img-wrap">
            {{ image("apu-bg-img-alt.jpg", "Group of students wearing a APU-branded gear at Times Square in New York City", "img-area") }}
            <div class="full-gradient"></div>
        </div>
        <div class="area-content area-content-apu">
        	{% include "partials/apu-logo.njk" %}
            {# <h3>American Public University</h3> #}
            <div class="hidden">
            	<p>APU extends the mission of accessibility to working professionals, helping civilian learners advance their knowledge without putting their life on pause. With a wide range of career-relevant programs and an emphasis on innovation, affordability, and flexibility, APU empowers students to take the next step in their education journey.</p>
            	{{ buttons.button('Visit APU', '#', 'apu') }}
            </div>
        </div>
    </div>
</section>