.black {
  color: $blk;
}
.white {
  color: $wht !important;
}
.primary {
	color: $primary;
}
.secondary {
	color: $secondary;
}
.primary-bg {
	background: $primary;
}
.secondary-bg {
	background: $secondary;
}