/* Headings */
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 300;
  line-height: 1.0;
  font-family: $font-normal;
}
h1, .h1 {
  font-size: 58px;
  font-size: 5.8rem;
  margin-bottom: 25px;
  font-weight: 100;
  color: $secondary;
}
.jumbo {
  font-weight: 100;
  font-size: 85px;
  font-size: 8.5rem;
}
h2, .h2 {
  font-size: 50px;
  font-size: 5.0rem;
  margin-bottom: 25px;  
}
h3, .h3 {
  font-size: 38px;
  font-size: 3.8rem;
  margin-bottom: 25px; 
}
h4, .h4 {
  font-size: 28px;
  font-size: 2.8rem;
  
}
@media (max-width: 575px) {
  h1, .h1 {
    font-size: 50px;
    font-size: 5.0rem;
    margin-bottom: 20px;
  }
  .jumbo {
    font-weight: 100;
    font-size: 65px;
    font-size: 6.5rem;
  }
  h2, .h2 {
    font-size: 42px;
    font-size: 4.2rem;
    margin-bottom: 20px;  
  }
  h3, .h3 {
    font-size: 30px;
    font-size: 3.0rem;
    margin-bottom: 20px; 
  }
  h4, .h4 {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}