/* VIDEO HERO */
.section-intro {
  background: linear-gradient(90deg, rgba(0,0,0,0.95), rgba(0,0,0,0.45));
  min-height: 800px;
  padding-bottom: 75px;
  display: grid;
  align-items: center;
  position: relative;
}
.subtitle {
  font-weight: 300;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 25px;
}
.hero-logo {
  width: 450px;
  display: block;
  margin: 0px auto 30px;
  // margin: 0px auto 20px;
}

#bgvid {
  position: absolute;
  top: 60%;
  /* top: calc(50% + 100px); */
  left: 50%;
  min-width: 99%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-image: url('../images/shared/redesign/apus/intro-bg.jpg');
  background-size: cover;
  object-fit: cover;
  transition: opacity 1s;
}
.intro-content {
  padding: 125px 0px 20px;
  animation: fadein 2s linear;
  // text-align: center;
}
.intro-content h1 {
  margin-bottom: 40px;
}
@media screen and (max-width:800px) {
  #video-controls {
    display: none;
  }
  .section-intro {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.45)), url('../images/shared/redesign/apus/intro-bg.jpg') no-repeat 50% 50%;
    .intro-content {
      padding: 25px 0px 0px;
    }
  }
  #bgvid {
      display: none;
  }
}
@media screen and (max-width:600px) {
  .hero-logo {
    width: 350px;
    display: block;
    margin: 0px auto 30px;
    // margin: 0px auto 20px;
  }
}
@media screen and (min-width:800px) {
  #video-controls {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  #video-controls button[data-state="pause"] {
      width: 1.5rem;
      height: 2rem;
      background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22icon-pause-white%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20384%20448%22%20style%3D%22enable-background%3Anew%200%200%20384%20448%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M48%2C0C21.5%2C0%2C0%2C21.5%2C0%2C48v352c0%2C26.5%2C21.5%2C48%2C48%2C48h64c26.5%2C0%2C48-21.5%2C48-48V48c0-26.5-21.5-48-48-48H48z%20M272%2C0c-26.5%2C0-48%2C21.5-48%2C48v352c0%2C26.5%2C21.5%2C48%2C48%2C48h64c26.5%2C0%2C48-21.5%2C48-48V48c0-26.5-21.5-48-48-48H272z%22%2F%3E%3C%2Fsvg%3E);
  }
  #video-controls button[data-state="play"] {
      width: 1.5rem;
      height: 2rem;
      background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22icon-pause-white%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20384%20448%22%20style%3D%22enable-background%3Anew%200%200%20384%20448%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M28.9%2C35.9v376.3c0%2C27.1%2C30.3%2C43.2%2C52.7%2C28L360.5%2C252c19.9-13.4%2C19.9-42.6%2C0-56L81.6%2C7.8C59.2-7.3%2C28.9%2C8.8%2C28.9%2C35.9z%22%2F%3E%3C%2Fsvg%3E);
  }
  #video-controls button {
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-indent: -9999.9rem;
      border: none;
      cursor: pointer;
      background: transparent;
      background-size: contain;
      background-repeat: no-repeat;
  }
}
.mouse {
  z-index: 1000;
  /*animation: mouse 5s linear 1, 2000ms ease-in-out 0s infinite alternate none running bobbingmouse;*/
  animation: 2000ms ease-in-out 0s infinite alternate none running bobbingmouse;
}
.mouse i {
  color: $wht;
  font-size: 40px;
  margin-bottom: 4px;
}
@keyframes bobbingmouse {
  0% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(9%);
  }
}
@keyframes mouse {
  0% {
    opacity: 0;
    width: 75px;
  }
  100% {
    /*margin-left: 43%;*/
    opacity: 1.0;
    width: 250px;
  }
  /*100% {
    margin-left: 0%;
  }*/
}
@keyframes fadein {
  0% {
    opacity: 0.0;
}
  100% {
    opacity: 1.0;
  }
}