@mixin justify-center {
	display: grid;
	justify-content: center;
	align-items: center;
}
@mixin white-box {
	background: white;
	padding: 35px 40px;
	border-radius: 4px;
	box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
	border-bottom: 9px solid $secondary;
}
@mixin space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
@mixin hover-gradient {
	
}
.fade-in {
  display: block;
  animation: fade-in 0.7s ease-in forwards;
}

.fade-out {
  animation: fade-out 0.7s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}