@media (max-width: 575px) {
  .section-mission {
    grid-template-columns: 1fr;
    .large-quote-wrap {
      padding: 4.5rem 3.5rem;
      .jumbo-quote {
        font-size: 45px;
        font-size: 4.5rem;
      }
    }
    .content {
      padding: 3.5rem 3.5rem 4.5rem;
    }
  }
  .section-meet {
    .meet-image-bg {
      background-position: center;
      background-size: cover;
      min-height: 400px;
    }
    .content{
      padding: 3.5rem 3.5rem 4.5rem;
    }
  }
  .section-gdj {
    grid-template-columns: 1fr;
    .gdj-image-bg {
      background-position: top;
      background-size: cover;
      min-height: 400px;
    }
    .content{
      padding: 3.5rem 3.5rem 4.5rem;
    }
  }
  .areas-of-study-wrap .area-item .area-content {
    padding: 5.0rem 3.5rem 4.5rem;
  }
  .white-box {
    background: white;
    padding: 3.5rem;
  }
}