/* ARTICLE FEED HOMEPAGE */

#hp-recent-posts {
  background: white;
  padding-top: 50px;
  padding-bottom: 70px;
  background: $primary;
}
.hp-recent-posts-wrap {
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
}
.hp-main-featured {
  /*border-radius: 10px;
  border-radius: 1.0rem;
  border: 9px solid white;*/
  /*background: linear-gradient(180deg, #ffffff, #d9daeb);*/
  background: #ffffff;
  /*margin-bottom: 25px;*/
}
.hp-main-featured {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.hp-main-featured {
  .item-header {
    .img-post {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      /*border-radius: 7px 7px 0px 0px;
      border-radius: 0.7rem 0.7rem 0 0;*/
    }
    .overlay {
      background: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85));
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-end; 
      .item-content {
        position: relative;
        z-index: 100;
        padding: 35px;
        padding: 3.5rem;
        font-family: hero-new, Arial, Helvetica, sans-serif;
        a, p {
          color: white;
        }
      }
    } 
  }
}

.hp-related-featured {
  /*border-radius: 10px;
  border-radius: 1.0rem;
  border: 9px solid white;*/
  /*background: linear-gradient(180deg, #ffffff, #d9daeb);*/
  background: #ffffff;
  margin-bottom: 25px !important;
}
.hp-related-featured header {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.hp-related-featured .item-header .img-post {
  height: 200px;
  width: 100%;
  object-fit: cover;
  /*border-radius: 7px 7px 0px 0px;
  border-radius: 0.7rem 0.7rem 0 0;*/
}
.hp-related-featured .item-content {
  padding: 35px;
  padding: 3.5rem;
  font-family: hero-new, Arial, Helvetica, sans-serif;
  background: white;
  a {
    color: $primary;
  }
}

.articles-wrap {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
  justify-content: flex-end;
}
.articles-wrap .item {
  display: grid;
  /*border-radius: 9px;
  border-radius: 0.9rem;*/
  grid-template-columns: 150px auto;
  /*background: #ffffff;*/
  /*margin-bottom: 35px;*/
  /*border-bottom: 2px solid rgba(200, 182, 158,0.15);*/
}
.articles-wrap .item .item-header {
  height: 120px;
}
.articles-wrap .item .item-header .img-post {
  min-height: 120px;
  width: 100%;
  object-fit: cover;
}
.articles-wrap .item .item-content {
  padding: 20px 25px;
  padding: 0rem 2.5rem;
}
.articles-wrap .item .item-content a, .hp-main-featured .item-content a {
  text-decoration: none;
}
.articles-wrap .item .item-content h4, .hp-main-featured .item-content h2 {
  /*font-weight: 600;*/
  color: white;
}
.hp-main-featured .item-content h2 {
  line-height: 42px;
  line-height: 4.2rem;
  margin-bottom: 20px;
}
.articles-wrap .item .item-content h3 {
  line-height: 32px;
  line-height: 3.2rem;
  margin-bottom: 12px;
}
.articles-wrap .item .item-content h4 {
  line-height: 24px;
  line-height: 2.4rem;
  margin-bottom: 10px;
}
.articles-wrap .item .item-content p {
  /*font-size: 15px;
  font-size: 1.5rem;*//*
  line-height: 15px;
  line-height: 1.5rem;*/
  font-family: hero-new, Arial, Helvetica, sans-serif;
  margin-bottom: 9px;
  color: white;
}
.articles-wrap .item .item-content .date, .hp-main-featured .item-content .date {
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  color: $secondary;
}
.press-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
@media (max-width: 991px) {
  .hp-recent-posts-wrap {
    grid-template-columns: 1fr;
    grid-gap: 45px;
  }
  .press-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .hp-main-featured {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    min-height: 400px;
  }
}
@media (max-width: 600px) {
  .title-wrap {
    padding: 0rem 2.0rem;
  }
  .articles-wrap .item {
    display: grid;
    // grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-bottom: 25px;
  }
  .press-wrap {
    padding: 0rem 2.0rem;
    .item {
      margin-bottom: 25px;
    }
  }
  .articles-wrap .item .item-header {
    // height: 200px;
    // padding: 0rem 2.5rem;
  }
  .articles-wrap .item .item-header .img-post {
    // height: 200px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}