$primary: #041E42; // apus navy blue
$secondary: #05C3DE; // apus aqua

$primary-alt: #00599a;
$secondary-alt: #03abc3;

$primary-active: #163c70;
$secondary-active: #31b3c6;

// BRAND COLORS
$amu-gold: #ffc600;
$amu-blue: #00599a;

$apu-blue: #00ffff;
$apu-green: #00ff00;
$apu-yellow: #ffff00;

$blk: #000000;
$wht: #ffffff;
$gray-20: #d2d2d2;
$gray-60: #d9d9d9;
$gray-dk: #6d6d6d;

$mainlogoColor: #ffffff;

$font-condensed: "Barlow Semi Condensed", "Helvetica Neue", Arial, sans-serif;
$font-normal: "canada-type-gibson","Gibson","Helvetica Neue",Arial,sans-serif;
// font weights: 100,300,400,600,700