@media (hover: hover) and (pointer: fine) {
  .areas-of-study-wrap .area-item:hover, .areas-of-study-wrap .area-item:focus {
    transition: all 1.25s ease-in-out;
    animation: fade-out linear;
  }
  .areas-of-study-wrap .area-item:hover .area-content, .areas-of-study-wrap .area-item:focus .area-content {
    width: 100%;
    height: 75%;
    background: rgb(255, 255, 255);
    transition: all 0.75s ease-in-out;
    animation: fade-in linear;
  }
  .areas-of-study-wrap .area-item:hover .area-content svg, .areas-of-study-wrap .area-item:hover .area-content p, .areas-of-study-wrap .area-item:focus .area-content svg, .areas-of-study-wrap .area-item:focus .area-content p {
    margin-bottom: 35px;
  }
  .areas-of-study-wrap .area-item:hover .area-content .st0, .areas-of-study-wrap .area-item:focus .area-content .st0 {
    display: block;
    transition: all 0.75s ease-in-out;
    fill: #000;
  }
  .areas-of-study-wrap .area-item:hover .area-content .hidden, .areas-of-study-wrap .area-item:focus .area-content .hidden {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 2s ease-in-out;
  }
  .areas-of-study-wrap .area-item:hover .area-content .hidden p, .areas-of-study-wrap .area-item:hover .area-content .hidden a, .areas-of-study-wrap .area-item:focus .area-content .hidden p, .areas-of-study-wrap .area-item:focus .area-content .hidden a {
    transition: all 2s ease-in-out;
    animation: fade-in linear 2s;
    opacity: 1;
  }
  .areas-of-study-wrap .area-item:hover .area-img-wrap img, .areas-of-study-wrap .area-item:focus .area-img-wrap img {
    background-position: 0 -100px;
    margin-top: -240px;
    transition: all 0.75s ease-in-out;
  }
  .areas-of-study-wrap .area-item:hover .area-img-wrap .full-gradient, .areas-of-study-wrap .area-item:focus .area-img-wrap .full-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    transition: all 2.75s ease-in-out;
    animation: fade-out linear;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}