@import "_variables.scss";
@import "_base-reset.scss";
@import "_colors.scss";
@import "_headings.scss";
@import "_mixins.scss";
@import "_nav.scss";
@import "_hero.scss";
@import "_space.scss";
@import "_news.scss";
@import "_footer.scss";
@import "_search.scss";
@import "_buttons.scss";
// @import "_profile.scss";
@import "_custom.scss";
@import "_universities.scss";
@import "_mobile.scss";